page-home {
    .content{

        background-image: url("../assets/imgs/coffe.jpeg");
        background-color: rgb(212, 150, 69);
        background-repeat: no-repeat;
        background-position: center;
        background-attachment: fixed;

    }

}
